@model CryptoPortfolio.Models.CryptoPurchaseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CryptoPurchaseDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortfolioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortfolioId)
        </dd>

        <br />

        @foreach (CryptoPortfolio.Data.CryptoInfo cryptoInfo in Model.CryptoInfo)
        {

            <dt>
                @Html.DisplayNameFor(modelItem => cryptoInfo.CryptoName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => cryptoInfo.CryptoName)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => cryptoInfo.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => cryptoInfo.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => cryptoInfo.CurrentPrice)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => cryptoInfo.CurrentPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => cryptoInfo.TotalValue)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => cryptoInfo.TotalValue)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => cryptoInfo.Gain)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => cryptoInfo.Gain)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => cryptoInfo.GainPercent)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => cryptoInfo.GainPercent)
            </dd>

            <br />
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
