@model CryptoPortfolio.Models.CryptoPurchaseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CryptoPurchaseDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortfolioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortfolioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <br />

        @foreach (CryptoPortfolio.Data.CryptoInfo myCrypto in Model.CryptoInfo)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => myCrypto.CryptoName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => myCrypto.CryptoName)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => myCrypto.Price)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => myCrypto.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => myCrypto.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => myCrypto.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => myCrypto.TotalValue)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => myCrypto.TotalValue)
            </dd>
            <br />
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.PurchaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
