@model CryptoPortfolio.Models.CryptoPortfolioDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CryptoPortfolioDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PortfolioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortfolioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BullBear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BullBear)
        </dd>
    </dl>

    <h5>CryptoUser Information</h5>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.CryptoUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CryptoUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CryptoUser.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CryptoUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CryptoUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CryptoUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CryptoUser.TradeMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CryptoUser.TradeMoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CryptoUser.PreferredExchange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CryptoUser.PreferredExchange)
        </dd>
    </dl>

    <h5>CryptoPurchase Information</h5>
    <hr />
    <dl>
        @foreach (CryptoPortfolio.Data.CryptoPurchase myPurchase in Model.CryptoPurchase)
        {
            <dt>
                @Html.DisplayNameFor(model => myPurchase.PurchaseId)
            </dt>

            <dd>
                @Html.DisplayFor(model => myPurchase.PurchaseId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => myPurchase.DateAdded)
            </dt>
            <dd>
                @Html.DisplayFor(model => myPurchase.DateAdded)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => myPurchase.TotalPurchasePrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => myPurchase.TotalPurchasePrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => myPurchase.CryptoInfo)
            </dt>
            <dd>
                @Html.DisplayFor(model => myPurchase.CryptoInfo)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.PortfolioId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
